

/* Top Nav Bar */

/*css for the autoblast title above the table*/
.blast {
    text-decoration: underline;
    margin-right: 10%;
}

/*css for the date that appears next to the autoblast*/
.date {
    text-decoration: underline;
    margin-left: 10%;
}

/*navigation bar css*/
.navigation {
    display: flex;
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    align-items: center;
    margin-bottom: 3px;
}

/*css for each separate item in the nav bar*/
.navItem {
    float:left;
    padding: 2% 1% 2% 1%;
    position: relative;
}

/*css for when an option in the navbar is hovered over*/
.navItem:hover, .login:hover{
    cursor: pointer;
    color:red;
}

/*to format the text in the navbar*/
.navItem a {
    color: white;
    position: relative;
}

/*general css for the Trinity title and Log In button*/
.navigationTitle {
    display: flex;
    align-items: center;
}

/*css for the Log In link*/
.login {
    color: white;
    text-decoration: none;
    padding: 6% 3% 6% 3%;
}

/*css for the hoverable dropdown menu*/
.dropdown {
    float: left;
    overflow: hidden;
    padding: 2% 1% 2% 1%;
    width: 12%;
  }

  /*css for the actual drop down button*/
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


li.navItem a:hover {
  color:red;
}

/*css for the dropdown menu options*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*css for the contents in each menu option*/
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*modifies the look of the dropdown menu choices when hovered over*/
.dropdown-content a:hover {
    background-color: rgb(0, 150, 150);
}

/*displays the hidden dropdown menu content*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*css for the popup window background that grays everything else out*/
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

/*css that makes the actual popup window*/
.popupContent {
    background-color: white;
    margin: auto;
    padding: 1% 1% 1% 1%;
    border: 1px solid black;
    width: 25%;
}

/*css for the top bar of the popup, the "Emails" title and the X*/
.popupTop {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
}

/*simply changes the cursor to the appropriate pointer when hovering the closing X*/
span:hover {
    cursor: pointer;
}

/* Hides second top title */
.topTitle2 {
  display: none;
}

/* Hides checkbox */

.checkBox {
  display: contents;
}



/* Map */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100%;
  height: 81%;
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

li#navLogin.navItem {
  width: 40%;
    text-align: right;
    margin-right: 0%;
}

#map-container button {
  background: none;
  color: #0012e8;
  border: none;
  font-weight: 700;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: emoji;
  font-size: 18px;
  cursor: pointer;
}

#map {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0;
  bottom: 0;
}

#locations-panel {
  position: absolute;
  left: 0;
  width: 22em;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
  padding: 0.5em;
  box-sizing: border-box;
}

@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    bottom: 50%;
  }

  #locations-panel {
    top: 50%;
    right: 0;
    width: unset;
  }
  
}

#navLogin.navItem {
  width: 40%;
    text-align: center;
    margin-right: 0%;
}

#locations-panel-list > header {
  padding: 1.4em 1.4em 0 1.4em;
}

#locations-panel-list h1.search-title {
  font-size: 1.4em;
  font-weight: 500;
  margin: 0;
  font-style: italic;
  font-family: serif;
}


#locations-panel-list h1.search-title > img {
  vertical-align: bottom;
  margin-top: -1em;
}

#locations-panel-list .search-input {
  width: 100%;
  margin-top: 0.8em;
  position: relative;
}

#locations-panel-list .search-input input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  height: 2.2em;
  box-sizing: border-box;
  padding: 0 2.5em 0 1em;
  font-size: 1em;
}

#locations-panel-list .search-input-overlay {
  position: absolute;
}

#locations-panel-list .search-input-overlay.search {
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 2.4em;
}

#locations-panel-list .search-input-overlay.search button {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  color: black;
  background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
  margin-top: 0.05em;
  vertical-align: top;
}

#locations-panel-list .section-name {
  font-weight: 550;
  font-size: 1.3em;
  margin: 1.8em 0 1em 1.1em;
  font-style: italic;
  font-family:'Courier New', Courier, monospace
}

#locations-panel-list .location-result {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  outline: 2px solid #4285f4;
  cursor: pointer;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
  text-align: left;
}

#locations-panel-list .location-result h2.name {
  font-size: 1em;
  margin: 0;
  cursor: text;
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#locations-panel-list .location-result .details-button {
  font-size: 0.9em;
  color: #7e7efd;
}

button.details-button:hover {
  color:red;
  background-color: red;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#atlanta-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#birmingHam-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#charlotte-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#columbus-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#dallas-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#houston-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#kansascity-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#indianapolis-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#lasvegas-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#memphis-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#northernaz-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sanantonio-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#stlouis-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tucson-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ------------- DETAILS PANEL ------------------------------- */
#locations-panel-details {
  padding: 1.4em;
  box-sizing: border-box;
  display: none;
}

#locations-panel-details .back-button {
  font-size: 1em;
  font-weight: 500;
  color: #7e7efd;
  display: block;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  margin-bottom: 30px;
}

#locations-panel-details .back-button .icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;

  /* Match link color #7e7efd */
  filter: invert(65%) sepia(87%) saturate(4695%) hue-rotate(217deg) brightness(105%) contrast(98%);
}

#locations-panel-details > header {
  text-align: center;
}

#locations-panel-details .banner {
  margin-top: 1em;
}

#locations-panel-details h2 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

#locations-panel-details .address {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1.3em;
}

.address {
  cursor: text;
  margin-left: 25px;
}

#locations-panel-details .atmosphere {
  text-align: center;
  font-size: 0.9em;
  margin: 0.8em 0;
}

#locations-panel-details .star-rating-numeric {
  color: #555;
}

#locations-panel-details .star-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: -0.3em;
  margin-top: -0.08em;
  vertical-align: top;
  filter: invert(88%) sepia(60%) saturate(2073%) hue-rotate(318deg) brightness(93%) contrast(104%);
}

#locations-panel-details .star-icon:last-of-type {
  margin-right: 0.2em;
}

#locations-panel-details .price-dollars {
  color: #555;
}

#locations-panel-details hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 1em;
}

#locations-panel-details .contact {
  font-size: 0.9em;
  margin: 0.8em 0;
  display: flex;
  align-items: center;
}

#locations-panel-details .contact .icon {
  flex: 0 0 auto;
  width: 1.5em;
  height: 1.5em;
}

#locations-panel-details .contact .right {
  padding: 0.1em 0 0 1em;
}

#locations-panel-details a {
  text-decoration: none;
  color: #7e7efd;
}

#locations-panel-list .location-result .details-button:hover {
  color: red;
}

#locations-panel-details .hours .weekday {
  display: inline-block;
  width: 5em;
}

#locations-panel-details .website a {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  max-width: 16em;
  text-overflow: ellipsis;
}

#locations-panel-details p.attribution {
  color: #777;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}


  /*css for logo*/
  .logo {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
    margin: 0.5%;
    margin-left: -3.5%;
    margin-right: 5%;
  }
  
  /*footer contents*/
  .foot {
    color: white;
    text-decoration: none;
    padding-right: 5%;
    white-space: nowrap;
  }
  
  /*footer social media icon list*/
  .socialList {
    display: flex; 
    flex-direction: row;     
    height: 100%;
    padding-left: 0%;
  }

  /* Footer Headers/Hover */

  .footerList {
    margin-left: 30px;
    padding-bottom: 10px;
    font-size: 19px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    border-bottom: 0.5px solid rgb(158, 154, 154);
    letter-spacing: 0.04em;
  }

  .footerList:hover {
    color: #2ca1db;
    border-bottom: 0.5px solid #2ca1db;
  }
  
  /*not using this*/
  /*light background for buttons*/
  .backLight {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(rgb(100, 100, 100) 40%, rgb(27, 27, 27), black);
    transition: all 1s;
    /*
    width:130px;
    height:130px;
    background: radial-gradient(rgb(100, 100, 100)25%, rgb(10, 10, 10), black);
    */
  }

  
  /*footer list individuals*/
  .socialList li {
    list-style: none;
    margin: 10px;
  }
  
  /*footer social media icons*/
  .socialList li a {
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border-radius: 50%;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(
  0deg
  , #ddd, #fff);
    transition: .75s;
  }
  
  .socialList li a:hover {
    
    text-decoration:none;
  }
  
  /*social media icons themselves*/
  .socialList li a .fa {
    width: 100%;
    height: 100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  /*first icon*/
  .socialList li:nth-child(1) a:hover .fa {
    color: #e4405f;
    box-shadow: 0px 0px 15px 9px #e4405f;
  }
  
  /*first icon*/
  .socialList li:nth-child(2) a:hover .fa {
    color: #4267B2;
    box-shadow: 0px 0px 15px 12px #4267B2;
  }
  
  /*third icon*/
  .socialList li:nth-child(3) a:hover .fa {
    color: #1DA1F2;
    box-shadow: 0px 0px 15px 9px #1DA1F2;
  }

/*fourth icon*/
.socialList li:nth-child(4) a:hover .fa {
color: #eb8f18;
box-shadow: 0px 0px 15px 9px #eb8f18;
}
  
  /*helps format Trinity title*/
  h1 {
    display: inline-block;
  }
  
  /*aligns the table rows*/
  tr {
    display: flex;
  }
  
  /*css for the table contents*/
  th {
    display: flex;
    flex-direction: column;
    background-color: rgba(139, 219, 219, 0.603);
    border: 0.5pt solid lightgray;
    width: 25%;
    padding: 1% 5% 1% 5%;
  }
  
    /*css for the footer*/
    footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: inherit;
      background-color: black;
      bottom: -1%;
      width: 100%;
      margin-top: 15px;
      margin-left: 0px;
    }
  
  /* For laptops Begin */

@media screen and (max-width: 1500px) {

  div.footer {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-right:8%;
  }

  .bottomLogo {
    width: 6%;
    margin-bottom:-1px;
  }

  .socialList {
    display: flex;
    flex-direction: row;
    height: 70%;
    width:12%;
    margin: 0;
  }

  .footerList {
    margin-left: 15px;
    font-size: 20px;
    padding-bottom: 0px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    border-bottom: 0.5px solid rgb(158, 154, 154);
    letter-spacing: 0.04em;
  }

  img.logo {
    height:75px;
  }
}

/* For laptops End */
  
  /* TopNav */
  
  /*css for the autoblast title above the table*/
  .blast {
    text-decoration: underline;
    margin-right: 10%;
  }
  
  /*css for the date that appears next to the autoblast*/
  .date {
    text-decoration: underline;
    margin-left: 10%;
  }
  
  /*navigation bar css*/
  .navigation {
    display: flex;
    list-style-type: none;
    background-color: #374248;
    overflow: hidden;
    align-items: center;
  }
  
  /*css for each separate item in the nav bar*/
  .navItem {
    float:left;
    padding: 2% 1% 2% 1%;
    position: relative;
  }
  
  /*css for when an option in the navbar is hovered over*/
  .navItem:hover, .login:hover{
    cursor: pointer;
    color:red;
  }
  
  /*to format the text in the navbar*/
  .navItem a {
    color: white;
    position: relative;
  }
  
  /*general css for the Trinity title and Log In button*/
  .navigationTitle {
    display: flex;
    align-items: center;
  }
  
  /*css for the Log In link*/
  .login {
    color: white;
    text-decoration: none;
    padding: 6% 3% 6% 3%;
  }
  
  /*css for the hoverable dropdown menu*/
  .dropdown {
    float: left;
    overflow: hidden;
    padding: 2% 1% 2% 1%;
    width: 12%;
  }
  
  /*css for the actual drop down button*/
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /*changes the color of the navbar contents, dropdown button, and dropbutton when hovered*/
  .navbar a:hover, .dropdown:hover .dropbtn, .dropdown:hover {
   color:red;
  }
  
  
  /*css for the dropdown menu options*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /*css for the contents in each menu option*/
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /*modifies the look of the dropdown menu choices when hovered over*/
  .dropdown-content a:hover {
    background-color: rgb(0, 150, 150);
  }
  
  /*displays the hidden dropdown menu content*/
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /*css for the popup window background that grays everything else out*/
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /*css that makes the actual popup window*/
  .popupContent {
    background-color: white;
    margin: auto;
    padding: 1% 1% 1% 1%;
    border: 1px solid black;
    width: 25%;
  }
  
  /*css for the top bar of the popup, the "Emails" title and the X*/
  .popupTop {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
  }
  
  /*simply changes the cursor to the appropriate pointer when hovering the closing X*/
  span:hover {
    cursor: pointer;
  }
  
  

  .listTitle {
    font-weight: 500;
    margin: 30px 0px 30px 15px;
  }

  span.listItems {
    font-family: sans-serif;
    cursor: text;
  }

  div.footer {
    display: flex;
    flex-direction: row;
    width: 45%;
    position: inherit;
}

  @media screen and (max-width: 992px) {

    div.footer {
      display: flex;
      flex-direction: column;
      margin-right: 25%;
    }

      /*footer contents*/
  .foot {
    color: white;
    text-decoration: none;
    padding-right: 1%;
    white-space: nowrap;
  }

    .logo {
      border-radius: 5%;
      max-width: 100%;
      height: auto;
      width: 140px;
    }
  
    div.logo {
      padding-left: 18%;
      height: 50%;
      width: 35%;
    }
  
    .socialList {
      margin-right: 5%;
    }
  
    .socialList li {
      list-style: none;
      margin: 2px;
  }
  
    .footerList {
      margin-left: 50%;
      padding-bottom: 0px;
      font-size: 13px;
      font-style: italic;
      font-weight: 500;
      text-align: center;
      border-bottom: 0.5px solid rgb(158, 154, 154);
      letter-spacing: 0.04em;
  }
  
      /*footer social media icons*/
      .socialList li a {
        position: relative;
        width: 38px;
        height: 34px;
        display: block;
        text-align: center;
        border-radius: 50%;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        background: linear-gradient( 
    0deg
     , #ddd, #fff);
        transition: .75s;
      }
      
      .socialList li a:hover {
        
        text-decoration:none;
      }
      
      /*social media icons themselves*/
      .socialList li a .fa {
        width: 100%;
        height: 100%;
        display: contents;
        background: linear-gradient(
    0deg
    , #fff, #ddd);
        border-radius: 50%;
        line-height: calc(60px - 25px);
        font-size: 22px;
        color: #262626;
        transition: .5s;
      }
  
  
  ul.socialList {
    display: flex;
    flex-direction: column;
  
  }


  /* Hamburger Menu Start */
#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 3%;
}

.dropdown-content {
  display: none;
  position: inherit;
  background-color: #80808017;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  margin-right: 35%;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

.fa.fa-caret-down {
  display: none;
  }

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 170px;
  background: #ecececb3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.topTitle {
  display: none;
}

#menu li
{
  padding: 9px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.dropdown {
  float: left;
  overflow: hidden;
  padding: 0% 0% 0% 11%;
  width: 32%;
  margin: -2%;
}

i {
  margin-left: 55%;
}

.topTitle2 {
  display: block;
}

a.login {
  margin-top: 2%;
}

#navLogin {
  border-top: 1px solid black;
  margin-top: 5%;
}

.navItem:hover {
  color:#262626;
}

div.dropdown div.dropdown-content {
  display: none;
}

/* Hamburger Menu Finish */
  
  }
  
  
  
  
  @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .footerList {
      margin-left: 35px;
      font-size: 12px;
      padding-bottom: 0px;
      font-style: italic;
      font-weight: 500;
      text-align: center;
      border-bottom: 0.5px solid rgb(158, 154, 154);
      letter-spacing: 0.04em;
  }
  
    .logo {
      padding-left: 20%;
      height: 50%;
      width: 25%;
      max-width: 100%;
      height: auto;
  }

  div.footer {
    display: flex;
    flex-direction: column;
    margin-right: 15%;
  }
  
  .socialList li {
    list-style: none;
    margin: 1px;
    margin-bottom: 0px;
  }
  
  ul.socialList {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
  }
  
  
      /*footer social media icons*/
      .socialList li a {
        position: relative;
        width: 38px;
        height: 34px;
        display: block;
        text-align: center;
        border-radius: 50%;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        background: linear-gradient( 
    0deg
     , #ddd, #fff);
        transition: .75s;
      }
      
  
      
      /*social media icons themselves*/
      .socialList li a .fa {
        width: 100%;
        height: 100%;
        display: contents;
        background: linear-gradient(
    0deg
    , #fff, #ddd);
        border-radius: 50%;
        line-height: calc(60px - 25px);
        font-size: 22px;
        color: #262626;
        transition: .5s;
      }

      .burger {
        display: none;
      }

    }
      
      /*This changes the nav bar to burger menu when it shrinks*/
      @media only screen and (max-width: 768px) {
        #market {
            display: none;
        }
      
        #form {
            display: none;
        }

        li#navLogin.navItem {
          width: 40%;
            text-align: center;
            margin-right: 0%;
        }
      

      
            /*footer social media icons*/
            .socialList li a {
              position: relative;
              width: 38px;
              height: 34px;
              display: block;
              text-align: center;
              border-radius: 50%;
              padding: 0px;
              box-sizing: border-box;
              text-decoration: none;
              background: linear-gradient( 
          0deg
           , #ddd, #fff);
              transition: .75s;
            }
            
      
            
            /*social media icons themselves*/
            .socialList li a .fa {
              width: 100%;
              height: 100%;
              display: contents;
              background: linear-gradient(
          0deg
          , #fff, #ddd);
              border-radius: 50%;
              line-height: calc(60px - 25px);
              font-size: 22px;
              color: #262626;
              transition: .5s;
            }



      /* Hamburger Menu Start */
#menuToggle
{
  display: block;
  position: relative;
  top: 18px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 10%;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 170px;
  background: #ecececb3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.topTitle {
  display: none;
}

.topTitle2 {
  display: block;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: initial;
  width: 100%;
  padding: 25px;
  padding-top: 15%;
}


.dropdown {
  margin-right: -13%;
}

i {
  margin-left: 55%;
}

a.login {
  margin-top: 2%;
  margin-right: 37%;
}

#navLogin {
  border-top: 1px solid black;
}

.navItem:hover {
  color:#262626;
}

div.dropdown div.dropdown-content {
  display: none;
}

.login {
  display: contents;
}

.dropdown {
  display: contents;
}

/* Hamburger Menu Finish */

      }
      
          
          /*footer contents*/
          .foot {
            color: white;
            text-decoration: none;
            white-space: nowrap;
          }
          
          /*footer social media icon list*/
          .socialList {
            display: flex; 
            flex-direction: row;     
            height: 100%;
          }
        
          /* Footer Headers/Hover */
        
        
          .footerList:hover {
            color: #2ca1db;
            border-bottom: 0.5px solid #2ca1db;
          }
          
          /*not using this*/
          /*light background for buttons*/
          .backLight {
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background: radial-gradient(rgb(100, 100, 100) 40%, rgb(27, 27, 27), black);
            transition: all 1s;
            /*
            width:130px;
            height:130px;
            background: radial-gradient(rgb(100, 100, 100)25%, rgb(10, 10, 10), black);
            */
          }
          
          /*footer list individuals*/
          .socialList li {
            list-style: none;
          }
          
          /*footer social media icons*/
          .socialList li a {
            position: relative;
            width: 39px;
            height: 40px;
            display: block;
            text-align: center;
            border-radius: 50%;
            padding: 0px;
            box-sizing: border-box;
            text-decoration: none;
            background: linear-gradient( 
        0deg
         , #ddd, #fff);
            transition: .75s;
          }
          
          .socialList li a:hover {
            
            text-decoration:none;
          }
          
          /*social media icons themselves*/
          .socialList li a .fa {
            width: 100%;
            height: 100%;
            display: contents;
            background: linear-gradient( 
        0deg
         , #fff, #ddd);
            border-radius: 50%;
            line-height: calc(60px - 18px);
            font-size: 22px;
            color: #262626;
            transition: .5s;
          }

    /*first icon*/
    
    .socialList li:nth-child(1) a:hover{
      color: #e4405f;
      box-shadow: 0px 0px 15px 9px #e4405f;
    }
    
    /*first icon*/
    .socialList li:nth-child(2) a:hover{
      color: #4267B2;
      box-shadow: 0px 0px 15px 12px #4267B2;
    }
    
    /*third icon*/
    .socialList li:nth-child(3) a:hover{
      color: #1DA1F2;
      box-shadow: 0px 0px 15px 9px #1DA1F2;
    }

        /*fourth icon*/
        .socialList li:nth-child(4) a:hover{
          color: #eb8f18;
          box-shadow: 0px 0px 15px 9px #eb8f18;
        }




/* Details Panel/ */

.addressOne {
  font-style: italic;
  font-size: 14px;
  font-weight: 550;
  cursor: text;
}

.addressTwo {
  font-size: 16px;
  font-family: monospace;
  cursor: text;
}

.results {
  border-bottom: .5px solid rgba(194, 192, 192, 0.734);
  cursor: text;
}

.gm-style-iw-d {
  padding: 5px;
}